#define FG_COL #999999
#define BG_COL #1b1b1b
#define COL_0 #272727
#define COL_3 #7bba4d
#define COL_5 #a65841
#define COL_6 #b1b360


rofi.font: SauceCodePro Nerd Font Mono 14
rofi.lines: 10
rofi.color-normal: BG_COL,  COL_6,  BG_COL,  COL_3,  COL_0
rofi.color-active: COL_6,  COL_0,  COL_5,  COL_3,  COL_0
rofi.color-window: BG_COL


 
