#define FG_COL #999999
#define BG_COL #1b1b1b
#define COL_0 #272727
#define COL_3 #7bba4d
#define COL_5 #a65841
#define COL_6 #b1b360

*.foreground:   #999999
*.background:   BG_COL
*.cursorColor:  #5b5b5b
*.color0:       COL_0
*.color8:       #333333
*.color1:       #2fcc93
*.color9:       #7eeec6
*.color2:       #3ea24f
*.color10:      #8af69c
*.color3:       COL_3 
*.color11:      #a8f470
*.color4:       #92893d
*.color12:      #ead41f
*.color5:       COL_5
*.color13:      #842e15
*.color6:       COL_6
*.color14:      #4d4e21
*.color7:       #b3b3b3
*.color15:      #d2d2d2

urxvt*font:     xft:Terminus (TTF):size=12
URxvt.colorIT:  #719611
URxvt.colorBD:  #d3d3d3
URxvt.colorUL:  #528b8b
URxvt.scrollBar: false

rofi.font:  Terminus (TTF) 12
rofi.lines: 10
rofi.color-normal: BG_COL,  COL_6,  BG_COL,  COL_3,  COL_0
rofi.color-active: COL_6,  COL_0,  COL_5,  COL_3,  COL_0
rofi.color-window: BG_COL


 
